.table-container {
  overflow: auto;

  .custom-table {
    overflow: auto;
    width: 100%;
    border-collapse: collapse;
  }

  .custom-table th,
  .custom-table td {
    padding: 8px;
    text-align: center;
  }
  .custom-table th {
    background-color: #f4f4f4;
  }
}
.flexi-table-body-c {
  .flexi-table-body-row-wrapper {
    margin-bottom: 4px;

    &.remove-radius {
      border-radius: 1rem;
    }

    &:hover {
      background-color: #f0f2f4 !important;
    }

    &:nth-child(odd) {
      background: #f5f7fa;
    }

    &:nth-child(even) {
      background: #ffff;
    }

    .flexi-table-body-row {
      .flexi-table-body-col {
        width: 100%;
        border-right: 1px solid rgba(41, 45, 50, 0.14);
        display: flex;
        align-items: center;

        min-height: 56px;

        &-value {
          margin: 0px 8px 0px 8px;
        }

        img {
          margin-left: 8px;
          width: 42px;
          flex-shrink: 0;
        }
      }
    }
  }

  .pointer {
    cursor: pointer;
  }
}

[class*='item-'] {
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  border: 1px solid #fff;
  box-sizing: border-box;
  text-align: center;
  min-width: 90px;
  font-weight: 500;
  height: fit-content;
}

.jc-center {
  justify-content: center;
}

.student-photo-Male,
.student-photo-Female {
  border-radius: 50%;
  width: 42px;
  border: 1px solid #fff;
}

.student-photo-Male {
  outline: 3px solid #b9ddff70;
}

.student-photo-Female {
  outline: 3px solid #facfff70;
}

.flexi-table-header-c {
  background-color: #faf4d9;
  height: 40px;

  &.sticky-header {
    position: sticky;
    top: 0;
  }

  .table-head-c {
    padding: 0;
    height: 40px;
  }

  .flexi-table-header-col-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    height: 40px;

    .flexi-table-header-col {
      border-right: 1px solid rgba(112, 112, 112, 0.14);
      display: flex;
      align-items: center;
      height: 40px;
      justify-content: space-between;
      width: 100%;

      &-value {
        margin-left: 8px;
      }

      &-id {
        justify-content: center;
      }

      .icon-c {
        background-color: rgba(36, 55, 89, 0.06);
        width: 16px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
        
        

        .svg-icon-c {
          padding: 0;
          
         

          &:hover {
            background: rgba(36, 55, 89, 0.06);
          }
        }
      }
    }
  }
}
.icon-c { 
  display: none;
}